<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="main">
	 <main>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
   </main>
</div>
<footer>
<div class="footer" style="right: 0;float: right">
    <a onClick="warningBtn()" type="button" style="color:#555;">Privacy Policy</a>
    <span style="padding-left: 2px; padding-right: 5px">&bull;</span>
    <a onClick="warningBtn()" type="button" style="color:#555;">Security Policy</a>
</div>
</footer>

<div id="security-privacy" class="modal" style="display: none; background-color:#F8F8F8;">
<button id="close" type="button" style="float: right">X</button>
  <div class="modal-content">
    <p>
    <h5>WARNING NOTICE!</h5>

	This warning banner provides privacy and security notices consistent with applicable federal laws, directives, and other federal guidance for accessing this Government system, which includes (1) this computer network, (2) all computers connected to this network, and (3) all devices and storage media attached to this network or to a computer on this network.

	This system is provided for Government-authorized use only.

	Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil and criminal penalties.

	Personal use of social media and networking sites on this system is limited as to not interfere with official work duties and is subject to monitoring.
	<br><br>
	By using this system, you understand and consent to the following:
	<br>
	- The Government may monitor, record, and audit your system usage, including usage of personal devices and email systems for official duties or to conduct HHS business. Therefore, you have no reasonable expectation of privacy regarding any communication or data transiting or stored on this system. At any time, and for any lawful Government purpose, the government may monitor, intercept, and search and seize any communication or data transiting or stored on this system.
	<br>
	- Any communication or data transiting or stored on this system may be disclosed or used for any lawful Government purpose.<br/>
    </p>
  </div>
</div>

<script type="text/javascript">
var x = document.getElementById("security-privacy");

function warningBtn(){
	x.style.display = "block";
}

document.getElementById('close').addEventListener('click', function(e) {
    e.preventDefault();
    x.style.display = "none";
}, false);
</script>

</body>
</html>
