<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACF ECMRS - Electronic Case Record Management System</title>
    <link rel="stylesheet" type="text/css" href="/css/bs/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bs/css/bootstrap-responsive.min.css"/>
    <link type='text/css' rel="stylesheet" href="/css/login.css"/>
	<style id="antiClickjack">body{display:none !important;}</style>

	<script type="text/javascript">
	   if (self === top) {
		   var antiClickjack = document.getElementById("antiClickjack");
		   antiClickjack.parentNode.removeChild(antiClickjack);
	   } else {
		   top.location = self.location;
	   }
	</script>
</head>

<body onload="javascript: e = document.getElementById('u'); if (!e) {e = document.getElementById('c'); } e.focus(); editChanged();">
<nav></nav>
<div id="skip">
    <a id="skip-link" href="#ss">Skip Content</a>
</div>
<div class="main">
    <div class="form_login tac">
        <header>
        <a href="/" class="dib"><img alt="ACF ECMRS Logo" src="/css/i/CaseBox-Logo-medium.png" style="width: 300px"></a>
        <h1 style="color:#2F546B">ECMRS Login</h1>
        </header>
        <main>
        <br>

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}" id="error">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block form %}{% endblock %}
    </main>
    </div>
</div>

<!-- Location
<div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDASho_AwHZ3wzI1AJ9P049emee6pkkfMg"></script>

<script>
    	const successCallback = (position) => {
	      const geocoder = new google.maps.Geocoder();
        const latlng = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };
        geocoder.geocode({ location: latlng }, (results, status) => {
          if (status === "OK") {
            if (results[0]) {
              const address = results[0].address_components;
              for (var i = 0; i < address.length; i++) {
                const addressType = address[i].types;
                if (addressType.includes("administrative_area_level_1")) {
                  const state = address[i].long_name;
                  document.getElementById("st").value = state;
                }
                if ((addressType.includes("country") && address[i].short_name == 'PR') || (addressType.includes("country") && address[i].short_name == 'VI') ||
                    (addressType.includes("country") && address[i].short_name == 'MP') || (addressType.includes("country") && address[i].short_name == 'GU') ||
                    (addressType.includes("country") && address[i].short_name == 'AS')) {
                  const state = address[i].long_name;
                  document.getElementById("st").value = state;
                }
              }
            }
          }
        });
      };

      const errorCallback = (position) => {
        const state = 'Denied Location';
        document.getElementById("st").value = state;
      };

      navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {
        enableHighAccuracy: true
      });
</script>
</div>
!-->

<footer>
<div class="footer" style="right: 0;">
    ECMRS V1.9.2
    <span style="padding-left: 2px; padding-right: 5px">&bull;</span>
    <a href="mailto:ECMRSHelpdesk@apprioinc.com" style="color:#555">Contact ECMRS Helpdesk</a>
    <span style="padding-left: 2px; padding-right: 5px">&bull;</span>
    <a onClick="warningBtn()" type="button" style="color:#555;">Privacy Policy</a>
    <span style="padding-left: 2px; padding-right: 5px">&bull;</span>
    <a onClick="warningBtn()" type="button" style="color:#555;">Security Policy</a>
</div>
</footer>

<div id="security-privacy" class="modal" style="display: none; background-color:#F8F8F8;">
<button id="close" type="button" style="float: right">X</button>
  <div class="modal-content">
    <p>
    <h5>WARNING NOTICE!</h5>

	This warning banner provides privacy and security notices consistent with applicable federal laws, directives, and other federal guidance for accessing this Government system, which includes (1) this computer network, (2) all computers connected to this network, and (3) all devices and storage media attached to this network or to a computer on this network.

	This system is provided for Government-authorized use only.

	Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil and criminal penalties.

	Personal use of social media and networking sites on this system is limited as to not interfere with official work duties and is subject to monitoring.
	<br><br>
	By using this system, you understand and consent to the following:
	<br>
	- The Government may monitor, record, and audit your system usage, including usage of personal devices and email systems for official duties or to conduct HHS business. Therefore, you have no reasonable expectation of privacy regarding any communication or data transiting or stored on this system. At any time, and for any lawful Government purpose, the government may monitor, intercept, and search and seize any communication or data transiting or stored on this system.
	<br>
	- Any communication or data transiting or stored on this system may be disclosed or used for any lawful Government purpose.<br/>
    </p>
  </div>
</div>

<script type="text/javascript">
var x = document.getElementById("security-privacy");

function warningBtn(){
	x.style.display = "block";
}

document.getElementById('close').addEventListener('click', function(e) {
    e.preventDefault();
    x.style.display = "none";
}, false);
</script>

</body>
</html>
