<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACF ECMRS - Electronic Case Record Management System</title>
    <link rel="stylesheet" type="text/css" href="/css/bs/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bs/css/bootstrap-responsive.min.css"/>
    <link type='text/css' rel="stylesheet" href="/css/login.css"/>
	<style id="antiClickjack">body{display:none !important;}</style>

	<script type="text/javascript">
	   if (self === top) {
		   var antiClickjack = document.getElementById("antiClickjack");
		   antiClickjack.parentNode.removeChild(antiClickjack);
	   } else {
		   top.location = self.location;
	   }
	</script>	
</head>

<body onload="javascript: e = document.getElementById('u'); if (!e) {e = document.getElementById('c'); } e.focus(); editChanged();">
<nav></nav>
<div id="skip">
    <a id="skip-link" href="#ss">Skip Content</a>
</div>
<div class="main">
    <div class="form_login tac">
        <header>
        <a href="/" class="dib"><img alt="ACF ECMRS Logo" src="/css/i/CaseBox-Logo-medium.png" style="width: 300px"></a>
        <h1 style="color:#2F546B">ECMRS Login</h1>
        </header>
        <main>
        <br>

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}" id="error">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block form %}{% endblock %}
    </main>
    </div>
</div>
<footer>
<div class="footer" style="right: 0;">
    ECMRS V1.9.1
    <span style="padding-left: 2px; padding-right: 5px">&bull;</span>
    <a href="mailto:ECMRSHelpdesk@apprioinc.com" style="color:#555">Contact ECMRS Helpdesk</a>
</div>
</footer>
</body>
</html>